@import '../../sass/variables';

@font-face {
    font-family: 'Blackwood Castle';
    src: url('../../assets/fonts/BlackwoodCastle.ttf') format('truetype');
}

header {
    position: relative;
    background-image: linear-gradient(45deg, #ffc91f 0%, #ec7c17 100%);
    background-position: bottom;
    background-size:100%;
    width: 100%;
    padding:0;
    padding-top: 2em;
   
    h1 {
        font-family: 'Blackwood Castle', serif;
        font-size: 3em;
    }

    box-shadow: $box-shadow-primary;
}

nav {
    background-color: #00000025;
    padding: .75em;
    margin-top: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style:none;

    li a {
        text-decoration: none;
        color: #ffffff;
    }
}