<div class="card" tabindex="0">

    <h3>{{beer.name}}</h3>

    <ul>
      <li class="city">City: {{beer.city}}</li>
      <li *ngIf="beer.county; else notAvailable">County: {{beer.county}}</li>
      <ng-template #notAvailable><li >County: N/A</li></ng-template>
      <li>ABV: {{beer.abv}}</li>
      <li>IBU: {{beer.ibu}}</li>
      <li>Style: {{beer.style}}</li>
    </ul>

    <!-- Route to beer full detail page -->
    <div class="btn-container">
      <button>
        <a class="btn" [routerLink]="['/beers/', beer.name]">View Details</a> 
      </button>
    </div>

</div>
