#filter-skip-link-anchor {
    &:focus ~ div { // Add focus to element after skip link anchor element
        border: 2px solid #f00;
      }
}

.filters-container {
    background-color: #efefef;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-params-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;

    label {
        width: 100px;
        margin-left: 2em;
    }

    input {

        padding: 1em;
        border-radius: 6px;
        box-shadow: none;
        border: none;
    }
}