* {
  font-family:sans-serif;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1 {
  text-align:center;
}

.mat-slider-container {
  width: 100%;
  padding: 1em 2em;
  display: flex;
  justify-content: center;
}