.search-container {
    width:300px;
    margin: 0 auto;
    form {
        display:flex;
        justify-content: center;
        height:100%;
        width:100%;
        padding:1em;

        input{
            margin-left:.15em;
            margin-right:1em;
        }
    }
}