
 .card-container {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap:wrap;
    width:100%;
    height:auto;
    min-height:100vh;
    padding:2rem;
    box-sizing: border-box;
    list-style:none;
  
    li{
      flex-basis:100%;
    }
  
    
    @media(min-width: 800px){
      li{
        flex-basis:50%;
      }
    }
  
    @media(min-width: 1200px){
      li{
        flex-basis:33.3%;
      }
    }
  }
  
  
  
  